@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


*{ 
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'Poppins' , sans-serif;
}

body{
	display: flex;
	align-items:center;
	justify-content:center;
	min-height:100vh;
	background:linear-gradient(#fed1f1 , #de981f)
}

.corpo{
	background:#f6f6f6;
	max-width:360px;
	width:100%;
	border-radius:10px;
	box-shadow:0px 10px 15px rgba(0,0,0,0.1);
}


.corpo .content{
	padding:30px;
	display:flex;
	align-items:center;
	flex-direction: column;
}

.corpo .fora{
	height:135px;
	width:135px;
	overflow:hidden;
}

.fora .emoji{
	height:500%;
	display:flex;
	flex-direction:column;

}

input[type="radio"]{
	display:none;
}


.fora .emoji li{
  height: 20%;
  width: 100%;
  list-style: none;
  transition: all 0.3s ease;
}

#star-1:hover ~ .content .fora .slideImg{
	margin-top:-135px;
}

#star-2:hover ~ .content .fora .slideImg{
	margin-top:-270px;
}

#star-3:hover ~ .content .fora .slideImg{
	margin-top:-405px;
}

#star-4:hover ~ .content .fora .slideImg{
	margin-top:-540px;
}

#star-5:hover ~ .content .fora .slideImg{
	margin-top:-675px;
}


.fora li img{
	height:100%;
	width:100%;
}


.content .star{
	margin-top:3px;
}


.star label {
	font-size:30px;
	margin: 0 3px;
	color:#ccc;
}


#star-1:hover ~ .content .star .star-1,
#star-1:checked ~ .content .star .star-1,

#star-2:hover ~ .content .star .star-1,
#star-2:hover ~ .content .star .star-2,
#star-2:checked ~ .content .star .star-1,
#star-2:checked ~ .content .star .star-2,


#star-3:hover ~ .content .star .star-1,
#star-3:hover ~ .content .star .star-2,
#star-3:hover ~ .content .star .star-3,
#star-3:checked ~ .content .star .star-1,
#star-3:checked ~ .content .star .star-2,
#star-3:checked ~ .content .star .star-3,

#star-4:hover ~ .content .star .star-1,
#star-4:hover ~ .content .star .star-2,
#star-4:hover ~ .content .star .star-3,
#star-4:hover ~ .content .star .star-4,
#star-4:checked ~ .content .star .star-1,
#star-4:checked ~ .content .star .star-2,
#star-4:checked ~ .content .star .star-3,
#star-4:checked ~ .content .star .star-4,

#star-5:hover ~ .content .star .star-1,
#star-5:hover ~ .content .star .star-2,
#star-5:hover ~ .content .star .star-3,
#star-5:hover ~ .content .star .star-4,
#star-5:hover ~ .content .star .star-5,
#star-5:checked ~ .content .star .star-1,
#star-5:checked ~ .content .star .star-2,
#star-5:checked ~ .content .star .star-3,
#star-5:checked ~ .content .star .star-4,
#star-5:checked ~ .content .star .star-5{

	color: #DB7093;
}


.corpo .rodape{
	height:55px;
	width:100%;
	border-top:1px solid #ccc;
	background:#f2f2f2;
	border-radius:0 0 10px 10px;
	display:flex;
	padding:0 20px;
	align-items:center;
	justify-content: space-between;
}


.rodape span{
	font-size:17px;
	font-weight:400;
}

.rodape .text::before{
	content:"AVALIE A SUA EXPERENCIA";
}

.rodape .number::before{
	content:"0 de 5";
}

#star-1:checked ~ .rodape .text::before{
	content: "eu odiei isso";
}

#star-1:checked ~ .rodape .number::before{
	content:"1 de 5";
}


#star-2:checked ~ .rodape .text::before{
	content: "poderia ser melhor";
}

#star-2:checked ~ .rodape .number::before{
	content:"2 de 5";
}

#star-3:checked ~ .rodape .text::before{
	content: "Hm legalzinho";
}

#star-2:checked ~ .rodape .number::before{
	content:"3 de 5";
}


#star-4:checked ~ .rodape .text::before{
	content: "muito bom";
}

#star-4:checked ~ .rodape .number::before{
	content:"4 de 5";
}


#star-5:checked ~ .rodape .text::before{
	content: "MARAVILHOSOOO";
}

#star-5:checked ~ .rodape .number::before{
	content:"5 de 5";
}